<!DOCTYPE html>

<html>
    <head>
        <!--<link rel="stylesheet" href="/static/simple.min.css">-->
        <link rel="stylesheet" href="/static/pico.min.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
    </head>
    <body class="container-fluid">
        <header>
            <nav aria-label="breadcrumb">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>Job Runs</li>
                </ul>
            </nav>
            <h1>{{.Title}}</h1>
        </header>
        <main>
            <table class="striped">
                <thead>
                    <tr>
                        <th scope="col">Finished At</h6></th>
                        <th scope="col">Age</th>
                        <th scope="col">Name</th>
                        <th scope="col">Host</th>
                        <th scope="col">Exitcode</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {{range .Runs}}
                    <tr>
                        <td>{{if eq .Status "started-normally"}}{{.FinishedAt}}{{end}}</td>
                        <td>{{if eq .Status "started-normally"}}{{ since .FinishedAt }}{{else}}{{since .StartedAt}}{{end}}</td>
                        <td><a href="?job={{.Name}}">{{.Name}}</a></td>
                        <td><a href="?host={{.Host.Name}}">{{.Host.Name}}</a></td>
                        <td style="text-align:right">{{if eq .Status "started-normally"}}{{.Result.ExitCode}}{{end}}</td>
                        <td>{{if eq .Status "started-normally"}}{{if eq .Result.ExitCode 0}}✅{{else}}❌{{end}}{{else}}🚫{{end}}</td>
                        <td><a href="/run.html?id={{.ID}}">Details</a></td>
                    </tr>
                {{end}}
                </tbody>

            </table>
        </main>
        <footer>
            <small>{{add (mult (sub .PageNum 1) (.PageSize)) (len .Runs)}} / {{.Total}} | Page {{.PageNum}}/{{.TotalPages}}{{if .NextPageURL}} | <a href="{{.NextPageURL}}"> Next ></a>{{end}}</small>
        </footer>
    </body>
</html>